<!--Opciones de un usuario staff-->
<div class="btn-group">
	<button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">Opciones</button>
	<div class="dropdown-menu">
		<a class="dropdown-item h6" href="{% url 'number_generator:generate_uniform' %}">Generar números uniformes</a>
		<a class="dropdown-item h6" href="{% url 'number_generator:generate_exponential' %}">Generar números exponenciales</a>
		<a class="dropdown-item h6" href="{% url 'number_generator:generate_normal' %}">Generar números normales</a>
		<a class="dropdown-item h6" href="{% url 'number_generator:generate_poisson' %}">Generar números de poisson</a>
	</div>
</div>
