<!--Archivo base de los formularios de actualizacion-->
{% extends 'number_generator/base.html' %}

{% block app_content %}

<!-- Elimina el asterisco de los tags    -->
{% include 'custom/snippets/asterisk_field.html' %}

<form class="form-signin" enctype='multipart/form-data' method="post">{% csrf_token %}
    {% block form %}
    {% endblock form %}
    <div class="text-right">
        <button class="btn btn-loading btn-primary btn-lg " id="load1" data-loading-text="<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Generando">Generar números</button>
    </div>
</form>

{% endblock app_content %}
