<!--Archivo base de los formularios de actualizacion-->
{% extends 'number_generator/base.html' %}

{% block app_content %}

{% load crispy_forms_tags %}
{% load custom_tags %}

<!-- Elimina el asterisco de los tags    -->
{% include 'custom/snippets/asterisk_field.html' %}

<h1 class="text-center">Prueba de Ji-Cuadrada</h1>
<hr>
<div class="row">
    <div class="col-2">
        <h3 class="text-center">Valores</h3>
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Valor</th>
            </tr>
            </thead>
            <tbody>

            {% for num in numbers %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{num}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-10">
        <h3 class="text-center">Histograma</h3>
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col">Fe</th>
                <th scope="col">Fo</th>
                <th scope="col">Fo-Fe</th>
                <th scope="col">(Fo-Fe)²</th>
                <th scope="col">(Fo-Fe)² / Fe</th>
                <th scope="col">c = Σ(Fo-Fe)² / Fe</th>
            </tr>
            </thead>
            <tbody>

            {% for interv in intervals %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{interv.minimum}}</td>
                <td>{{interv.maximum}}</td>
                <td>{{interv.frec_esperada}}</td>
                <td>{{interv.frec_observada}}</td>
                <td>{{interv.calculo_1}}</td>
                <td>{{interv.calculo_2}}</td>
                <td>{{interv.calculo_3}}</td>
                <td>{{interv.c}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
        <img class='mb-2' src="media/histograma.png" width=800>
        </div>
        <h5 class="text-center">El valor del estadistico de prueba c es {{object.c_acum}}</h5>
        <h5 class="text-center">La cantidad de grados de libertad v es {{object.interval_amount|add:-1}}</h5>

<!--        <div class="text-right">-->
<!--            <a class="btn btn-outline-dark" href="{% url 'number_generator:add_graphic' object.pk %}">Ver grafico</a>-->
<!--        </div>-->
    </div>
</div>
{% endblock app_content %}
