{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="text-center"
     style="height: 10%;">
    <h1 class="display-1 text-center">T.P.N° 3 Variables Aleatorias</h1>

    <div class="container">
        <div class="d-flex justify-content-around pb-4">
                {% include 'number_generator/snippets/card.html' with name="Uniforme" path="uniforme.png" url='number_generator:generate_uniform' %}
                {% include 'number_generator/snippets/card.html' with name="Exponencial" path="exponencial.png" url='number_generator:generate_exponential' %}
        </div>
        <div class="d-flex justify-content-around ">
                {% include 'number_generator/snippets/card.html' with name="Normal" path="normal.png" url='number_generator:generate_normal' %}
                {% include 'number_generator/snippets/card.html' with name="Poisson" path="poisson.png" url='number_generator:generate_poisson' %}
        </div>
    </div>
    <hr>
    <h2 class="text-center">Integrantes:</h2>
    <h4>Bossio, Mateo 75428</h4>
    <h4>Mateo, Lucas 75329</h4>
    <h4>Morardo, Diego 75527</h4>
    <h4>Geronimo, Mariano 77421</h4>
    <h4>Wismer, Axel 75930</h4>
</div>
{% endblock content %}
