<!--Formulario del generador de numeros (base)-->
<!--var: table -->
<div class="text-center border border-dark rounded-lg p-2 m-2">
    {% if table.metodo == 'KS' %}
    <h3>Prueba de Kolmogorov-Smirnov</h3>
    <hr>
    <h5>max(| Po AC - Pe AC |): {{table.dif_prob_acu_max}}</h5>
    <h5>Grados de libertad (v): {{table.v}}</h5>

    {% else %}
    <h3>Valores prueba de Ji-Cuadrada</h3>
    <hr>
    <h5>Estadistico de prueba acumulado (c acumulado): {{table.get_c_acum}}</h5>
    <h5>Grados de libertad (v): {{table.v}}</h5>
    {% endif %}

</div>