<!--Formulario de las pruebas de numeros-->
<!--var: form-->
{% load crispy_forms_tags %}
<h3 class="">Prueba de bondad de ajuste</h3>
{% if not poisson %}

<div class="row">
    <div class="col-4">
        {{ form.interval_amount|as_crispy_field }}
    </div>
    <div class="col-4">
        {{ form.test_type|as_crispy_field }}
    </div>
    <div class="col-4">
        {{ form.probability|as_crispy_field }}
    </div>
</div>

<div class="row border">
    <div class="col-6">
        {{ form.min_value|as_crispy_field }}
    </div>

    <div class="col-6">
        {{ form.max_value|as_crispy_field }}
    </div>
</div>
<small class="text-center" style="color: grey;">Si no se ingresan estos datos, se calcularan automaticamente (recomendado) </small>


{% else %}
<div class="row">
    <div class="col-6">
        {{ form.test_type|as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.probability|as_crispy_field }}
    </div>
</div>
{% endif %}

