{% extends 'base.html' %}
{% block content %}

<div style="height: 100px;">
</div>

<div class="text-center"
     style="height: 50%;">
    <h1 class="display-1 text-center">T.P.N° 1</h1>
    <h1 class="display-3 text-center">Generación de Números Aleatorios</h1>
    <h2 class="text-center">Integrantes:</h2>
    <h4>Bossio, Mateo 75428</h4>
    <h4>Mateo, Lucas 75329</h4>
    <h4>Morardo, Diego 75527</h4>
    <h4>Geronimo, Mariano 77421</h4>
    <h4>Wismer, Axel 75930</h4>
</div>
{% endblock content %}
